USE [master]
GO
/****** Object:  Database [QLKH]    Script Date: 02-06-2019 12:04:38 AM ******/
CREATE DATABASE [QLKH]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLKH', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.HAUMTA\MSSQL\DATA\QLKH.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QLKH_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.HAUMTA\MSSQL\DATA\QLKH_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLKH].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLKH]
GO
/****** Object:  UserDefinedFunction [dbo].[FUN_TANGMA]    Script Date: 02-06-2019 12:04:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FUN_TANGMA] (@lastid varchar(10),@prefix varchar(10),@size int)
  returns varchar(10)
as
    BEGIN
        IF(@lastid = '')
            set @lastid = @prefix + REPLICATE (0,@size - LEN(@prefix))
        declare @num_nextid int, @nextid varchar(10)
        set @lastid = LTRIM(RTRIM(@lastid))
        set @num_nextid = replace(@lastid,@prefix,'') + 1
        set @size = @size - len(@prefix)
        set @nextid = @prefix + REPLICATE (0,@size - LEN(@prefix))
        set @nextid = @prefix + RIGHT(REPLICATE(0, @size) + CONVERT (VARCHAR(MAX), @num_nextid), @size)
        return @nextid
    END;




GO
/****** Object:  UserDefinedFunction [dbo].[FUN_TANGMANV]    Script Date: 02-06-2019 12:04:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FUN_TANGMANV] (@lastid varchar(10),@prefix varchar(10),@size int)
  returns varchar(10)
as
    BEGIN
        IF(@lastid = '')
            set @lastid = @prefix + REPLICATE (0,@size - LEN(@prefix))
        declare @num_nextid int, @nextid varchar(10)
        set @lastid = LTRIM(RTRIM(@lastid))
        set @num_nextid = replace(@lastid,@prefix,'') + 1
        set @size = @size - len(@prefix)
        set @nextid = @prefix + REPLICATE (0,@size - LEN(@prefix))
        set @nextid = @prefix + RIGHT(REPLICATE(0, @size) + CONVERT (VARCHAR(MAX), @num_nextid), @size)
        return @nextid
    END;




GO
/****** Object:  Table [dbo].[BOPHAN]    Script Date: 02-06-2019 12:04:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOPHAN](
	[MABP] [nchar](10) NOT NULL,
	[TENBP] [nvarchar](50) NOT NULL,
	[DIENTHOAI] [nchar](15) NULL,
	[MAKHO] [nchar](10) NULL,
	[NQL] [nchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MABP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CHITIETPHIEUNHAP]    Script Date: 02-06-2019 12:04:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CHITIETPHIEUNHAP](
	[MAPN] [char](10) NOT NULL,
	[MASP] [char](10) NOT NULL,
	[SOLUONG] [int] NULL,
	[DONGIAN] [float] NULL,
	[TONGTIEN] [float] NULL,
 CONSTRAINT [PK_CHITIETPHIEUNHAP] PRIMARY KEY CLUSTERED 
(
	[MAPN] ASC,
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CHITIETPHIEUXUAT]    Script Date: 02-06-2019 12:04:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CHITIETPHIEUXUAT](
	[MAPX] [char](10) NOT NULL,
	[MASP] [char](10) NOT NULL,
	[SOLUONG] [int] NULL,
	[DONGIAX] [float] NULL,
	[TONGTIEN] [float] NULL,
 CONSTRAINT [PK_CHITIETPHIEUXUAT] PRIMARY KEY CLUSTERED 
(
	[MAPX] ASC,
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DANGNHAP]    Script Date: 02-06-2019 12:04:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANGNHAP](
	[USERNAME] [nchar](10) NOT NULL,
	[PASSWORD] [nchar](10) NULL,
	[MANV] [nchar](10) NULL,
	[QUYENHAN] [nchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[USERNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DANHMUC]    Script Date: 02-06-2019 12:04:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANHMUC](
	[MADANHMUC] [nchar](10) NOT NULL,
	[TENDANHMUC] [nvarchar](50) NULL,
	[GHICHU] [nvarchar](max) NULL,
	[MAKHO] [nchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MADANHMUC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 02-06-2019 12:04:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKH] [nchar](10) NOT NULL,
	[TENKH] [nvarchar](50) NULL,
	[DIACHI] [nvarchar](50) NULL,
	[GIOITINH] [nvarchar](5) NULL,
	[DIENTHOAI] [nchar](15) NULL,
	[EMAIL] [nvarchar](50) NULL,
	[FAX] [nchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KHOHANG]    Script Date: 02-06-2019 12:04:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHOHANG](
	[MAKHO] [nchar](10) NOT NULL,
	[TENKHO] [nvarchar](50) NOT NULL,
	[TONGSODMSP] [int] NULL,
	[GHICHU] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAKHO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NHACUNGCAP]    Script Date: 02-06-2019 12:04:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHACUNGCAP](
	[MANCC] [nchar](10) NOT NULL,
	[TENNHACC] [nvarchar](50) NULL,
	[DIACHI] [nvarchar](max) NULL,
	[GHICHU] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[MANCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 02-06-2019 12:04:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [nchar](10) NOT NULL,
	[TENNV] [nvarchar](30) NOT NULL,
	[EMAIL] [nchar](30) NULL,
	[NS] [date] NULL,
	[GT] [nvarchar](5) NULL,
	[DIENTHOAI] [nchar](15) NULL,
	[CHUCVU] [nvarchar](50) NULL,
	[HINHANH] [nvarchar](max) NULL,
	[DIACHI] [nvarchar](50) NULL,
	[LUONG] [float] NULL,
	[MABP] [nchar](10) NULL,
	[TRANGTHAI] [bit] NULL,
 CONSTRAINT [PK__NHANVIEN__603F51144CBEBDE8] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PHIEUNHAPKHO]    Script Date: 02-06-2019 12:04:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUNHAPKHO](
	[MAPN] [nchar](10) NOT NULL,
	[MAKHO] [nchar](10) NULL,
	[NVNHAP] [nchar](10) NULL,
	[NGAYNHAP] [datetime] NULL,
	[MANCC] [nchar](10) NULL,
	[GHICHU] [nvarchar](max) NULL,
 CONSTRAINT [PK__PHIEUNHA__603F61CE3DCE3FB5] PRIMARY KEY CLUSTERED 
(
	[MAPN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PHIEUXUAT]    Script Date: 02-06-2019 12:04:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUXUAT](
	[MAPX] [nchar](10) NOT NULL,
	[MAKHO] [nchar](10) NULL,
	[NVXUAT] [nchar](10) NULL,
	[NGAYXUAT] [datetime] NULL,
	[MAKH] [nchar](10) NULL,
	[GHICHU] [nvarchar](max) NULL,
 CONSTRAINT [PK__PHIEUXUA__603F61D85D2AD7AF] PRIMARY KEY CLUSTERED 
(
	[MAPX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SANPHAM]    Script Date: 02-06-2019 12:04:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[MASP] [nchar](10) NOT NULL,
	[TENSP] [nvarchar](50) NOT NULL,
	[GIA] [float] NULL,
	[SERIAL] [nchar](20) NULL,
	[MANCC] [nchar](10) NULL,
	[MADANHMUC] [nchar](10) NULL,
	[NGAYSANXUAT] [datetime] NULL,
	[HANSUDUNG] [datetime] NULL,
	[SOLUONG] [int] NULL,
	[PHANLOAI] [nvarchar](50) NULL,
	[HINHANH] [varchar](250) NULL,
	[GHICHU] [nvarchar](max) NULL,
 CONSTRAINT [PK__SANPHAM__60228A326F5E7349] PRIMARY KEY CLUSTERED 
(
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  View [dbo].[VIEW_LUONG]    Script Date: 02-06-2019 12:04:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VIEW_LUONG]
AS
SELECT        MANV, TENNV, NS, GT, LUONG
FROM            dbo.NHANVIEN




GO
/****** Object:  View [dbo].[VIEW_NHAP]    Script Date: 02-06-2019 12:04:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VIEW_NHAP]
AS
	SELECT N.MAPN, CTN.MASP, N.MAKHO, N.MANCC, N.NVNHAP, N.NGAYNHAP, CTN.SOLUONG,SP.GIA, CTN.TONGTIEN, N.GHICHU
	FROM PHIEUNHAPKHO N, CHITIETPHIEUNHAP CTN, SANPHAM SP
	WHERE N.MAPN = CTN.MAPN and CTN.MASP = SP.MASP




GO
/****** Object:  View [dbo].[VIEW_XUAT]    Script Date: 02-06-2019 12:04:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VIEW_XUAT]
AS
	SELECT X.MAPX, CTX.MASP, X.MAKHO, X.MAKH, X.NVXUAT, X.NGAYXUAT, CTX.SOLUONG,SP.GIA ,CTX.TONGTIEN, X.GHICHU
	FROM PHIEUXUAT X, CHITIETPHIEUXUAT CTX, SANPHAM SP
	WHERE X.MAPX = CTX.MAPX and CTX.MASP = SP.MASP




GO
INSERT [dbo].[BOPHAN] ([MABP], [TENBP], [DIENTHOAI], [MAKHO], [NQL]) VALUES (N'BP001     ', N'Bộ Phận Quản Lý', N'0125990364     ', NULL, N'NV002     ')
INSERT [dbo].[BOPHAN] ([MABP], [TENBP], [DIENTHOAI], [MAKHO], [NQL]) VALUES (N'BP002     ', N'Bộ Phận Marketing', N'012599014      ', N'KHO07     ', N'NV001     ')
INSERT [dbo].[BOPHAN] ([MABP], [TENBP], [DIENTHOAI], [MAKHO], [NQL]) VALUES (N'BP003     ', N'Bộ Phận Sửa Chữa', N'012599335      ', NULL, N'NV002     ')
INSERT [dbo].[CHITIETPHIEUNHAP] ([MAPN], [MASP], [SOLUONG], [DONGIAN], [TONGTIEN]) VALUES (N'PN001     ', N'SP001     ', 100, 800000, NULL)
INSERT [dbo].[CHITIETPHIEUNHAP] ([MAPN], [MASP], [SOLUONG], [DONGIAN], [TONGTIEN]) VALUES (N'PN001     ', N'SP003     ', 1200000, 120, NULL)
INSERT [dbo].[CHITIETPHIEUNHAP] ([MAPN], [MASP], [SOLUONG], [DONGIAN], [TONGTIEN]) VALUES (N'PN001     ', N'SP004     ', 100, 1200000, NULL)
INSERT [dbo].[CHITIETPHIEUXUAT] ([MAPX], [MASP], [SOLUONG], [DONGIAX], [TONGTIEN]) VALUES (N'PX001     ', N'SP001     ', 200, 1500000, NULL)
INSERT [dbo].[CHITIETPHIEUXUAT] ([MAPX], [MASP], [SOLUONG], [DONGIAX], [TONGTIEN]) VALUES (N'PX001     ', N'SP003     ', 1000, 2500000, NULL)
INSERT [dbo].[CHITIETPHIEUXUAT] ([MAPX], [MASP], [SOLUONG], [DONGIAX], [TONGTIEN]) VALUES (N'PX001     ', N'SP004     ', 100, 1500000, NULL)
INSERT [dbo].[DANGNHAP] ([USERNAME], [PASSWORD], [MANV], [QUYENHAN]) VALUES (N'giang     ', N'231190    ', N'NV002     ', N'Admin     ')
INSERT [dbo].[DANGNHAP] ([USERNAME], [PASSWORD], [MANV], [QUYENHAN]) VALUES (N'hau       ', N'250998    ', N'NV001     ', N'Admin     ')
INSERT [dbo].[DANHMUC] ([MADANHMUC], [TENDANHMUC], [GHICHU], [MAKHO]) VALUES (N'DM002     ', N'Điện Thoại Sam Sung', N'', N'KHO03     ')
INSERT [dbo].[DANHMUC] ([MADANHMUC], [TENDANHMUC], [GHICHU], [MAKHO]) VALUES (N'DM003     ', N'Điện Thoại HTC', N'', N'KHO03     ')
INSERT [dbo].[DANHMUC] ([MADANHMUC], [TENDANHMUC], [GHICHU], [MAKHO]) VALUES (N'DM004     ', N'Máy Tính HP', N'', N'KHO02     ')
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [DIACHI], [GIOITINH], [DIENTHOAI], [EMAIL], [FAX]) VALUES (N'KH008     ', N'Đặng Duy Bảo', N'Thái Bình', N'Nam', N'0165990901     ', N'baoduy@gmail.com', N'789341         ')
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [DIACHI], [GIOITINH], [DIENTHOAI], [EMAIL], [FAX]) VALUES (N'KH009     ', N'Phạm Gia Bảo', N'Ninh Bình ', N'Nam', N'0165990700     ', N'giabao@gmail.com', N'254731         ')
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [DIACHI], [GIOITINH], [DIENTHOAI], [EMAIL], [FAX]) VALUES (N'KH010     ', N'Nguyễn Quỳnh Anh', N'Bình Định', N'Nữ', N'0165990721     ', N'quynhanh@gmail.com', N'841112         ')
INSERT [dbo].[KHOHANG] ([MAKHO], [TENKHO], [TONGSODMSP], [GHICHU]) VALUES (N'KHO02     ', N'Kho LapTop', 20, N'Không Ghi Chú')
INSERT [dbo].[KHOHANG] ([MAKHO], [TENKHO], [TONGSODMSP], [GHICHU]) VALUES (N'KHO03     ', N'Kho Điện Thoại Thông Minh', 20, NULL)
INSERT [dbo].[KHOHANG] ([MAKHO], [TENKHO], [TONGSODMSP], [GHICHU]) VALUES (N'KHO04     ', N'Kho Điện Thoại Bàn Phím', 20, NULL)
INSERT [dbo].[NHACUNGCAP] ([MANCC], [TENNHACC], [DIACHI], [GHICHU]) VALUES (N'NCC01     ', N'Cty TNHH Công Nghệ Cao', N'Quảng Châu-Trung Quốc', N'Không Ghi Chú')
INSERT [dbo].[NHACUNGCAP] ([MANCC], [TENNHACC], [DIACHI], [GHICHU]) VALUES (N'NCC02     ', N'Cty TNHH SamSung Display', N'Bắc Ninh', N'Không ghi chú')
INSERT [dbo].[NHACUNGCAP] ([MANCC], [TENNHACC], [DIACHI], [GHICHU]) VALUES (N'NCC03     ', N'Cty smartphone OPPO VN', N'Việt Nam', N'Không Ghi Chú')
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [EMAIL], [NS], [GT], [DIENTHOAI], [CHUCVU], [HINHANH], [DIACHI], [LUONG], [MABP], [TRANGTHAI]) VALUES (N'NV001     ', N'Nguyễn Công Thắng', N'congthang@gmail.com           ', CAST(N'1997-05-01' AS Date), N'Nam', N'0981043531     ', N'Admin Quản Lý', N'53761999_559056694597366_7543642273355923456_o.jpg', N'Nghệ An', 20000000, N'BP001     ', 1)
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [EMAIL], [NS], [GT], [DIENTHOAI], [CHUCVU], [HINHANH], [DIACHI], [LUONG], [MABP], [TRANGTHAI]) VALUES (N'NV002     ', N'Đào Minh Hiếu', N'hieu@gmail.com                ', CAST(N'1996-07-19' AS Date), N'Nam', N'096774490      ', N'Admin', N'24909595_1535917323190926_523580540361786838_n.jpg', N'Hải Dương', 15000000, N'BP001     ', 1)
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [EMAIL], [NS], [GT], [DIENTHOAI], [CHUCVU], [HINHANH], [DIACHI], [LUONG], [MABP], [TRANGTHAI]) VALUES (N'NV003     ', N'Phạm Minh Trang', N'quynhtran@gmail.com           ', CAST(N'1997-08-07' AS Date), N'Nữ', N'09677393       ', N'Nhân Viên', N'', N'Nam Định', 10000000, N'BP001     ', 1)
INSERT [dbo].[PHIEUNHAPKHO] ([MAPN], [MAKHO], [NVNHAP], [NGAYNHAP], [MANCC], [GHICHU]) VALUES (N'PN001     ', N'KHO05     ', N'NV001     ', CAST(N'2015-10-02 00:00:00.000' AS DateTime), N'NCC01     ', N'a')
INSERT [dbo].[PHIEUNHAPKHO] ([MAPN], [MAKHO], [NVNHAP], [NGAYNHAP], [MANCC], [GHICHU]) VALUES (N'PN002     ', N'KHO02     ', N'NV002     ', CAST(N'2075-12-20 00:00:00.000' AS DateTime), N'NCC01     ', N'')
INSERT [dbo].[PHIEUNHAPKHO] ([MAPN], [MAKHO], [NVNHAP], [NGAYNHAP], [MANCC], [GHICHU]) VALUES (N'PN003     ', N'KHO05     ', N'NV003     ', CAST(N'2015-10-02 00:00:00.000' AS DateTime), N'NCC01     ', N'a')
INSERT [dbo].[PHIEUXUAT] ([MAPX], [MAKHO], [NVXUAT], [NGAYXUAT], [MAKH], [GHICHU]) VALUES (N'PX001     ', N'KHO02     ', N'NV005     ', CAST(N'2017-05-12 00:00:00.000' AS DateTime), N'KH012     ', N'')
INSERT [dbo].[PHIEUXUAT] ([MAPX], [MAKHO], [NVXUAT], [NGAYXUAT], [MAKH], [GHICHU]) VALUES (N'PX002     ', N'KHO06     ', N'NV005     ', CAST(N'2018-01-01 00:00:00.000' AS DateTime), N'KH014     ', N'')
INSERT [dbo].[PHIEUXUAT] ([MAPX], [MAKHO], [NVXUAT], [NGAYXUAT], [MAKH], [GHICHU]) VALUES (N'PX003     ', N'KHO03     ', N'NV005     ', CAST(N'2017-01-21 00:00:00.000' AS DateTime), N'KH022     ', N'không ghi chú')
INSERT [dbo].[SANPHAM] ([MASP], [TENSP], [GIA], [SERIAL], [MANCC], [MADANHMUC], [NGAYSANXUAT], [HANSUDUNG], [SOLUONG], [PHANLOAI], [HINHANH], [GHICHU]) VALUES (N'SP001     ', N'Iphone 5', 8000000, N'4900211             ', N'NCC06     ', N'DM013     ', CAST(N'2012-12-12 00:00:00.000' AS DateTime), CAST(N'2019-05-18 09:56:03.000' AS DateTime), 100, N'Hàng Xách Tay', N'60053944_663453870763592_805872109682163712_n.jpg', N'Không ghi chú')
INSERT [dbo].[SANPHAM] ([MASP], [TENSP], [GIA], [SERIAL], [MANCC], [MADANHMUC], [NGAYSANXUAT], [HANSUDUNG], [SOLUONG], [PHANLOAI], [HINHANH], [GHICHU]) VALUES (N'SP002     ', N'Iphone 6S', 15000000, N'4900333             ', N'NCC05     ', N'DM002     ', CAST(N'2014-03-15 00:00:00.000' AS DateTime), CAST(N'2019-05-18 09:56:48.000' AS DateTime), 50, N'Hàng Mới Quốc Tế', N'60358113_2179506485466078_62068999051018240_n.png', N'Không ghi chú')
INSERT [dbo].[SANPHAM] ([MASP], [TENSP], [GIA], [SERIAL], [MANCC], [MADANHMUC], [NGAYSANXUAT], [HANSUDUNG], [SOLUONG], [PHANLOAI], [HINHANH], [GHICHU]) VALUES (N'SP003     ', N'Máy Tính HP', 16000000, N'4904411             ', N'NCC03     ', N'DM003     ', CAST(N'2012-03-02 00:00:00.000' AS DateTime), CAST(N'2019-05-28 21:56:10.137' AS DateTime), 100, N'Hàng Nhập Khẩu Nước Ngoài', N'', N'Hàng cũ')
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__BOPHAN__A58D67416503405E]    Script Date: 02-06-2019 12:04:38 AM ******/
ALTER TABLE [dbo].[BOPHAN] ADD UNIQUE NONCLUSTERED 
(
	[TENBP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__NHANVIEN__A58D47C8EA1AEEFE]    Script Date: 02-06-2019 12:04:38 AM ******/
ALTER TABLE [dbo].[NHANVIEN] ADD  CONSTRAINT [UQ__NHANVIEN__A58D47C8EA1AEEFE] UNIQUE NONCLUSTERED 
(
	[TENNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__SANPHAM__A58DE95C0304D739]    Script Date: 02-06-2019 12:04:38 AM ******/
ALTER TABLE [dbo].[SANPHAM] ADD  CONSTRAINT [UQ__SANPHAM__A58DE95C0304D739] UNIQUE NONCLUSTERED 
(
	[TENSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BOPHAN]  WITH CHECK ADD FOREIGN KEY([MAKHO])
REFERENCES [dbo].[KHOHANG] ([MAKHO])
GO
ALTER TABLE [dbo].[BOPHAN]  WITH CHECK ADD  CONSTRAINT [FK_BOPHAN_NHANVIEN] FOREIGN KEY([NQL])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[BOPHAN] CHECK CONSTRAINT [FK_BOPHAN_NHANVIEN]
GO
ALTER TABLE [dbo].[DANGNHAP]  WITH CHECK ADD FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[DANGNHAP]  WITH CHECK ADD  CONSTRAINT [FK__DANGNHAP__MANV__412EB0B6] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[DANGNHAP] CHECK CONSTRAINT [FK__DANGNHAP__MANV__412EB0B6]
GO
ALTER TABLE [dbo].[DANHMUC]  WITH CHECK ADD FOREIGN KEY([MAKHO])
REFERENCES [dbo].[KHOHANG] ([MAKHO])
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_BOPHAN] FOREIGN KEY([MABP])
REFERENCES [dbo].[BOPHAN] ([MABP])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_BOPHAN]
GO
ALTER TABLE [dbo].[PHIEUNHAPKHO]  WITH CHECK ADD  CONSTRAINT [FK__PHIEUNHAP__MAKHO__29572725] FOREIGN KEY([MAKHO])
REFERENCES [dbo].[KHOHANG] ([MAKHO])
GO
ALTER TABLE [dbo].[PHIEUNHAPKHO] CHECK CONSTRAINT [FK__PHIEUNHAP__MAKHO__29572725]
GO
ALTER TABLE [dbo].[PHIEUNHAPKHO]  WITH CHECK ADD  CONSTRAINT [FK__PHIEUNHAP__MANCC__2B3F6F97] FOREIGN KEY([MANCC])
REFERENCES [dbo].[NHACUNGCAP] ([MANCC])
GO
ALTER TABLE [dbo].[PHIEUNHAPKHO] CHECK CONSTRAINT [FK__PHIEUNHAP__MANCC__2B3F6F97]
GO
ALTER TABLE [dbo].[PHIEUXUAT]  WITH CHECK ADD  CONSTRAINT [FK__PHIEUXUAT__MAKH__33D4B598] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[PHIEUXUAT] CHECK CONSTRAINT [FK__PHIEUXUAT__MAKH__33D4B598]
GO
ALTER TABLE [dbo].[PHIEUXUAT]  WITH CHECK ADD  CONSTRAINT [FK__PHIEUXUAT__MAKHO__31EC6D26] FOREIGN KEY([MAKHO])
REFERENCES [dbo].[KHOHANG] ([MAKHO])
GO
ALTER TABLE [dbo].[PHIEUXUAT] CHECK CONSTRAINT [FK__PHIEUXUAT__MAKHO__31EC6D26]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [FK__SANPHAM__MADANHM__267ABA7A] FOREIGN KEY([MADANHMUC])
REFERENCES [dbo].[DANHMUC] ([MADANHMUC])
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [FK__SANPHAM__MADANHM__267ABA7A]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [FK__SANPHAM__MANCC__25869641] FOREIGN KEY([MANCC])
REFERENCES [dbo].[NHACUNGCAP] ([MANCC])
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [FK__SANPHAM__MANCC__25869641]
GO
ALTER TABLE [dbo].[KHACHHANG]  WITH CHECK ADD CHECK  (([GIOITINH]=N'NỮ' OR [GIOITINH]='NAM'))
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [CK__NHANVIEN__GT__1920BF5C] CHECK  (([GT]=N'NỮ' OR [GT]='NAM'))
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [CK__NHANVIEN__GT__1920BF5C]
GO
/****** Object:  StoredProcedure [dbo].[BCN]    Script Date: 02-06-2019 12:04:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[BCN](
@TENNV nvarchar(30) = NULL,
@TENSP nvarchar(50) = NULL,
@TENNCC nvarchar(50) = NULL,
@TENKHO nvarchar(50) = NULL,
@NGAYNHAP nvarchar(50) = null,
@GIA nvarchar(20) = null,
@TUNGAY nvarchar(50) = null,
@DENNGAY nvarchar(50) = null
)
	AS
		begin
			DECLARE @SqlStr NVARCHAR(MAX),
					@GroupBy NVARCHAR(MAX)
			 Select N.MAPN, KHO.TENKHO, SP.TENSP, NCC.TENNHACC, DONGIAN, TONGTIEN=CTN.SOLUONG*DONGIAN, NV.TENNV, N.NGAYNHAP
							from PHIEUNHAPKHO N, CHITIETPHIEUNHAP CTN, SANPHAM SP, NHACUNGCAP NCC, NHANVIEN NV, KHOHANG KHO
							where N.MAPN = CTN.MAPN and CTN.MASP = SP.MASP and N.MANCC = NCC.MANCC and N.NVNHAP = NV.MANV and N.MAKHO = KHO.MAKHO 
			IF(@TENNV IS NOT NULL and @TENNV != '')
				set @SqlStr = @SqlStr + ' AND (NV.TENNV = N'''+@TENNV+''') '
			IF (@TENNCC IS NOT NULL and @TENNCC != '')
				set @SqlStr = @SqlStr + ' AND (NCC.TENNHACC = N'''+@TENNCC+''') '
			IF (@TENKHO IS NOT NULL and @TENKHO != '')
				set @SqlStr = @SqlStr + ' AND (KHO.TENKHO = N'''+@TENKHO+''') '
			IF (@TENSP IS NOT NULL and @TENSP != '') 
				 set @SqlStr = @SqlStr + ' AND (SP.TENSP = N'''+@TENSP+''') '
			IF (@GIA IS NOT NULL and @GIA != '') 
				 set @SqlStr = @SqlStr + ' AND (DONGIAN = Convert(float,'''+@GIA+''')) '
			IF (@NGAYNHAP IS NOT NULL and @NGAYNHAP != '') 
				 set @SqlStr = @SqlStr + ' AND (N.NGAYNHAP = Convert(Datetime,'''+@NGAYNHAP+''',103)) '
			IF (@TUNGAY IS NOT NULL and @TUNGAY != '') 
				 set @SqlStr = @SqlStr + ' AND (N.NGAYNHAP >= Convert(Datetime,'''+@TUNGAY+''',103)) '
			IF (@DENNGAY IS NOT NULL and @DENNGAY != '') 
				 set @SqlStr = @SqlStr + ' AND (N.NGAYNHAP <= Convert(Datetime,'''+@DENNGAY+''',103)) '
			
			
	   end

GO
/****** Object:  StoredProcedure [dbo].[BCX]    Script Date: 02-06-2019 12:04:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[BCX](
@TENNV nvarchar(30) = NULL,
@TENSP nvarchar(50) = NULL,
@TENKH nvarchar(50) = NULL,
@TENKHO nvarchar(50) = NULL,
@NGAYXUAT nvarchar(50) = null,
@GIA nvarchar(20) = null,
@TUNGAY nvarchar(50) = null,
@DENNGAY nvarchar(50) = null
)
	AS
		begin
			DECLARE @SqlStr NVARCHAR(MAX) 
			Select X.MAPX, KHO.TENKHO, SP.TENSP, KH.TENKH, DONGIAX, TONGTIEN=CTX.SOLUONG*DONGIAX, NV.TENNV,X.NGAYXUAT
							from PHIEUXUAT X, CHITIETPHIEUXUAT CTX, SANPHAM SP, KHACHHANG KH, NHANVIEN NV, KHOHANG KHO 
							where X.MAPX = CTX.MAPX and CTX.MASP = SP.MASP and X.MAKH = KH.MAKH and X.NVXUAT = NV.MANV and X.MAKHO = KHO.MAKHO 
			IF(@TENNV IS NOT NULL and @TENNV != '')
				set @SqlStr = @SqlStr + ' AND (NV.TENNV = N'''+@TENNV+''') '
			IF (@TENKH IS NOT NULL and @TENKH != '')
				set @SqlStr = @SqlStr + ' AND (KH.TENKH = N'''+@TENKH+''') '
			IF (@TENKHO IS NOT NULL and @TENKHO != '')
				set @SqlStr = @SqlStr + ' AND (KHO.TENKHO = N'''+@TENKHO+''') '
			IF (@TENSP IS NOT NULL and @TENSP != '') 
				 set @SqlStr = @SqlStr + ' AND (SP.TENSP = N'''+@TENSP+''') '
			IF (@GIA IS NOT NULL and @GIA != '') 
				 set @SqlStr = @SqlStr + ' AND (DONGIAX = Convert(float,'''+@GIA+''')) '
			IF (@NGAYXUAT IS NOT NULL and @NGAYXUAT != '') 
				 set @SqlStr = @SqlStr + ' AND (X.NGAYXUAT = Convert(Datetime,'''+@NGAYXUAT+''',103)) '
			IF (@TUNGAY IS NOT NULL and @TUNGAY != '') 
				 set @SqlStr = @SqlStr + ' AND (X.NGAYXUAT >= Convert(Datetime,'''+@TUNGAY+''',103)) '
			IF (@DENNGAY IS NOT NULL and @DENNGAY != '') 
				 set @SqlStr = @SqlStr + ' AND (X.NGAYXUAT <= Convert(Datetime,'''+@DENNGAY+''',103)) '
		
	   end



GO
/****** Object:  StoredProcedure [dbo].[CAPNHAT_BOPHAN]    Script Date: 02-06-2019 12:04:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[CAPNHAT_BOPHAN](
@MABP nchar(10),
@TENBP nvarchar(50),
@DIENTHOAI nchar(15),
@MAKHO nchar(10),
@NQL NCHAR(10)
)
AS
BEGIN
	UPDATE BOPHAN
	SET MABP = @MABP ,TENBP = @TENBP,DIENTHOAI = @DIENTHOAI,MAKHO = @MAKHO, NQL = @NQL
	WHERE MABP = @MABP
END




GO
/****** Object:  StoredProcedure [dbo].[CAPNHAT_DANHMUC]    Script Date: 02-06-2019 12:04:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[CAPNHAT_DANHMUC](
@MADANHMUC NCHAR(10),
@TENDANHMUC NVARCHAR(50),
@GHICHU NVARCHAR(MAX),
@MAKHO NCHAR(10)
)
AS
BEGIN
	UPDATE DANHMUC
	SET TENDANHMUC = @TENDANHMUC,GHICHU = @GHICHU,MAKHO = @MAKHO
	WHERE MADANHMUC = @MADANHMUC
END




GO
/****** Object:  StoredProcedure [dbo].[CAPNHAT_KHACHHANG]    Script Date: 02-06-2019 12:04:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[CAPNHAT_KHACHHANG](
@MAKH NCHAR(10),
@TENKH NVARCHAR(50),
@DIACHI NVARCHAR(30),
@GIOITINH NVARCHAR(5),
@DIENTHOAI NCHAR(15),
@EMAIL NVARCHAR(50),
@FAX NCHAR(15)
)
AS
BEGIN
	UPDATE  KHACHHANG
	SET MAKH = @MAKH,TENKH = @TENKH,DIACHI = @DIACHI,GIOITINH = @GIOITINH,DIENTHOAI = @DIENTHOAI,EMAIL = @EMAIL,FAX = @FAX
	WHERE MAKH = @MAKH
END




GO
/****** Object:  StoredProcedure [dbo].[CAPNHAT_KHOHANG]    Script Date: 02-06-2019 12:04:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROC [dbo].[CAPNHAT_KHOHANG](
@MAKHO NCHAR(10),
@TENKHO NVARCHAR(50),
@TONGSODMSP INT,
@GHICHU NVARCHAR(MAX)
)
AS
BEGIN
	UPDATE KHOHANG
	SET MAKHO = @MAKHO,TENKHO = @TENKHO,TONGSODMSP = @TONGSODMSP,GHICHU = @GHICHU
	WHERE MAKHO = @MAKHO
END




GO
/****** Object:  StoredProcedure [dbo].[CAPNHAT_NGUOIDUNG]    Script Date: 02-06-2019 12:04:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[CAPNHAT_NGUOIDUNG](
@MANV NCHAR(10),
@HINHANH NVARCHAR(MAX)
)
AS
BEGIN
	UPDATE  NHANVIEN
	SET HINHANH = @HINHANH
	WHERE MANV = @MANV
END



GO
/****** Object:  StoredProcedure [dbo].[CAPNHAT_NHACC]    Script Date: 02-06-2019 12:04:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[CAPNHAT_NHACC](
@MANCC NCHAR(10),
@TENNHACC NVARCHAR(50),
@DIACHI NVARCHAR(MAX),
@GHICHU NVARCHAR(MAX)
)
AS
BEGIN
	UPDATE NHACUNGCAP
	SET MANCC = @MANCC,TENNHACC = @TENNHACC,DIACHI = @DIACHI,GHICHU = @GHICHU
	WHERE MANCC = @MANCC
END




GO
/****** Object:  StoredProcedure [dbo].[CAPNHAT_NHANVIEN]    Script Date: 02-06-2019 12:04:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[CAPNHAT_NHANVIEN](
@MANV NCHAR(10),
@TENNV NVARCHAR(50),
@EMAIL NCHAR(30),
@NS DATE,
@GT NVARCHAR(5),
@DIENTHOAI NCHAR(15),
@CHUCVU NVARCHAR(50),
@HINHANH NVARCHAR(MAX),
@DIACHI NVARCHAR(50),
@LUONG FLOAT,
@MABP NCHAR(10),
@TRANGTHAI bit
)
AS
BEGIN
	UPDATE  NHANVIEN
	SET MANV = @MANV,TENNV = @TENNV,EMAIL = @EMAIL,NS = @NS,GT = @GT,DIENTHOAI = @DIENTHOAI,CHUCVU = @CHUCVU, HINHANH = @HINHANH,DIACHI = @DIACHI,LUONG =  @LUONG ,MABP = @MABP, TRANGTHAI = @TRANGTHAI
	WHERE MANV = @MANV
END




GO
/****** Object:  StoredProcedure [dbo].[DELETE_TAIKHOAN]    Script Date: 02-06-2019 12:04:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[DELETE_TAIKHOAN](
@USERNAME NCHAR(10)
)
AS
BEGIN
	DELETE DANGNHAP WHERE USERNAME = @USERNAME
END




GO
/****** Object:  StoredProcedure [dbo].[HOADONBANHANG]    Script Date: 02-06-2019 12:04:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[HOADONBANHANG](@MAPX char(10))
AS BEGIN
	Select SP.MASP, SP.TENSP, KH.TENKH, DONGIAX, TONGTIEN=CTX.SOLUONG*DONGIAX,KH.DIENTHOAI,KH.DIACHI,CTX.SOLUONG
				from PHIEUXUAT X, CHITIETPHIEUXUAT CTX, SANPHAM SP, KHACHHANG KH
				where X.MAPX = CTX.MAPX and CTX.MASP = SP.MASP and X.MAKH = KH.MAKH AND X.MAPX = @MAPX
	
END

GO
/****** Object:  StoredProcedure [dbo].[HOADONMUAHANG]    Script Date: 02-06-2019 12:04:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[HOADONMUAHANG](@MAPN NCHAR(10))
AS BEGIN

	Select SP.MASP, SP.TENSP, KH.TENNHACC,DONGIAN, TONGTIEN=CTX.SOLUONG*DONGIAN,KH.DIACHI,CTX.SOLUONG
	from PHIEUNHAPKHO X, CHITIETPHIEUNHAP CTX, SANPHAM SP, NHACUNGCAP KH
	where X.MAPN = CTX.MAPN and CTX.MASP = SP.MASP and X.MANCC = KH.MANCC AND (X.MAPN = @MAPN)	
END

GO
/****** Object:  StoredProcedure [dbo].[SUA_CHITIETPHIEUNHAP]    Script Date: 02-06-2019 12:04:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SUA_CHITIETPHIEUNHAP](
@MAPN NCHAR(10),
@MASP NCHAR(10),
@SOLUONG INT,
@DONGIAN FLOAT
)
AS
BEGIN
	UPDATE CHITIETPHIEUNHAP
	SET MASP=@MASP, SOLUONG=@SOLUONG,TONGTIEN=@DONGIAN WHERE MAPN=@MAPN

END

GO
/****** Object:  StoredProcedure [dbo].[SUA_CHITIETPHIEUXUAT]    Script Date: 02-06-2019 12:04:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SUA_CHITIETPHIEUXUAT](
@MAPX NCHAR(10),
@MASP NCHAR(10),
@SOLUONG INT,
@DONGIAX FLOAT
)
AS
BEGIN
	UPDATE CHITIETPHIEUXUAT
	SET SOLUONG=@SOLUONG,DONGIAX=@DONGIAX, MASP=@MASP WHERE MAPX=@MAPX
END


GO
/****** Object:  StoredProcedure [dbo].[SUA_PHIEUNHAPKHO]    Script Date: 02-06-2019 12:04:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SUA_PHIEUNHAPKHO](
@MAPN NCHAR(10),
@MAKHO NCHAR(10),
@MANVNHAP NCHAR(10),
@NGAYNHAP DATETIME,
@MANCC NCHAR(10),
@GHICHU NVARCHAR(MAX)

)
AS
BEGIN
	UPDATE PHIEUNHAPKHO
	SET MAKHO=@MAKHO,NVNHAP=@MANVNHAP,MANCC=@MANCC,GHICHU=@GHICHU
	WHERE MAPN=@MAPN
END




GO
/****** Object:  StoredProcedure [dbo].[SUA_PHIEUXUAT]    Script Date: 02-06-2019 12:04:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SUA_PHIEUXUAT](
@MAPX NCHAR(10),
@MAKHO NCHAR(10),
@MANVXUAT NCHAR(10),
@NGAYXUAT DATETIME,
@MAKH NCHAR(10),
@GHICHU NVARCHAR(MAX)
)
AS
BEGIN
	UPDATE PHIEUXUAT 
	SET MAPX=@MAPX,MAKHO=@MAKHO,NVXUAT=@MANVXUAT,MAKH=@MAKH,GHICHU=@GHICHU
	WHERE MAPX=@MAPX
END




GO
/****** Object:  StoredProcedure [dbo].[SUA_SANPHAM]    Script Date: 02-06-2019 12:04:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SUA_SANPHAM] (
	@MASP NCHAR(10),
@TENSP NVARCHAR(50),
@MANCC NCHAR(10),
@GIA FLOAT,
@MADANHMUC NCHAR(10),
@SERIAL NCHAR(15),
@HINHANH NVARCHAR(50),
@NGAYSANXUAT DATETIME,
@HANSUDUNG DATETIME,
@GHICHU NVARCHAR(MAX),
@SOLUONG INT,
@PHANLOAI NVARCHAR(50)

) AS BEGIN
		UPDATE SANPHAM SET TENSP=@TENSP,MANCC=@MANCC,GIA=@GIA,MADANHMUC=@MADANHMUC,SERIAL=@SERIAL,HINHANH=@HINHANH,NGAYSANXUAT=@NGAYSANXUAT
		, HANSUDUNG=@HANSUDUNG,GHICHU=@GHICHU,SOLUONG=@SOLUONG,PHANLOAI=@PHANLOAI WHERE MASP=@MASP

	END



GO
/****** Object:  StoredProcedure [dbo].[THEM_BOPHAN]    Script Date: 02-06-2019 12:04:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[THEM_BOPHAN](
@MABP nchar(10),
@TENBP nvarchar(50),
@DIENTHOAI nchar(15),
@MAKHO nchar(10),
@NQL NCHAR(10)
)
AS
BEGIN
	insert into BOPHAN
	values 
		(@MABP, @TENBP, @DIENTHOAI, @MAKHO, @NQL)
END




GO
/****** Object:  StoredProcedure [dbo].[THEM_CHITIETPHIEUNHAP]    Script Date: 02-06-2019 12:04:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[THEM_CHITIETPHIEUNHAP](
@MAPN NCHAR(10),
@MASP NCHAR(10),
@SOLUONG INT,
@DONGIAN FLOAT
)
AS
BEGIN
	INSERT INTO CHITIETPHIEUNHAP
	VALUES (@MAPN, @MASP, @SOLUONG, @DONGIAN,NULL)
END


GO
/****** Object:  StoredProcedure [dbo].[THEM_CHITIETPHIEUXUAT]    Script Date: 02-06-2019 12:04:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[THEM_CHITIETPHIEUXUAT](
@MAPX NCHAR(10),
@MASP NCHAR(10),
@SOLUONG INT,
@DONGIAX FLOAT
)
AS
BEGIN
	INSERT INTO CHITIETPHIEUXUAT
	VALUES (@MAPX, @MASP, @SOLUONG, @DONGIAX,NULL)
END

GO
/****** Object:  StoredProcedure [dbo].[THEM_DANHMUC]    Script Date: 02-06-2019 12:04:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[THEM_DANHMUC](
@MADANHMUC NCHAR(10),
@TENDANHMUC NVARCHAR(50),
@GHICHU NVARCHAR(MAX),
@MAKHO NCHAR(10)
)
AS
BEGIN
	INSERT INTO DANHMUC
	VALUES (@MADANHMUC, @TENDANHMUC, @GHICHU, @MAKHO)
END




GO
/****** Object:  StoredProcedure [dbo].[THEM_KHACHHANG]    Script Date: 02-06-2019 12:04:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- CHi Tiết Báo cáo

-- Khách Hàng

CREATE PROC [dbo].[THEM_KHACHHANG](
@MAKH NCHAR(10),
@TENKH NVARCHAR(50),
@DIACHI NVARCHAR(50),
@GIOITINH NVARCHAR(5),
@DIENTHOAI NCHAR(15),
@EMAIL NVARCHAR(50),
@FAX NCHAR(15)
)
AS
BEGIN
	INSERT INTO KHACHHANG
	VALUES (@MAKH, @TENKH, @DIACHI, @GIOITINH, @DIENTHOAI, @EMAIL, @FAX)
END




GO
/****** Object:  StoredProcedure [dbo].[THEM_KHOHANG]    Script Date: 02-06-2019 12:04:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[THEM_KHOHANG](
@MAKHO NCHAR(10),
@TENKHO NVARCHAR(50),
@TONGSODMSP INT,
@GHICHU NVARCHAR(MAX)
)
AS
BEGIN
	INSERT INTO KHOHANG
	VALUES (@MAKHO, @TENKHO, @TONGSODMSP, @GHICHU)
END




GO
/****** Object:  StoredProcedure [dbo].[THEM_NHACC]    Script Date: 02-06-2019 12:04:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Nhà Cung Cấp

CREATE PROC [dbo].[THEM_NHACC](
@MANCC NCHAR(10),
@TENNHACC NVARCHAR(50),
@DIACHI NVARCHAR(MAX),
@GHICHU NVARCHAR(MAX)
)
AS
BEGIN
	INSERT INTO NHACUNGCAP
	VALUES (@MANCC, @TENNHACC,@DIACHI, @GHICHU)
END




GO
/****** Object:  StoredProcedure [dbo].[THEM_NHANVIEN]    Script Date: 02-06-2019 12:04:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[THEM_NHANVIEN](
@MANV NCHAR(10),
@TENNV NVARCHAR(50),
@EMAIL NCHAR(30),
@NS DATE,
@GT NVARCHAR(5),
@DIENTHOAI NCHAR(15),
@CHUCVU NVARCHAR(50),
@HINHANH NVARCHAR(MAX),
@DIACHI NVARCHAR(50),
@LUONG FLOAT,
@MABP NCHAR(10)
)
AS
BEGIN
	INSERT INTO NHANVIEN
	VALUES (@MANV, @TENNV, @EMAIL, @NS, @GT, @DIENTHOAI, @CHUCVU,@HINHANH, @DIACHI,@LUONG, @MABP, '1')
END




GO
/****** Object:  StoredProcedure [dbo].[THEM_PHIEUNHAPKHO]    Script Date: 02-06-2019 12:04:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[THEM_PHIEUNHAPKHO](
@MAPN NCHAR(10),
@MAKHO NCHAR(10),
@MANVNHAP NCHAR(10),
@NGAYNHAP DATETIME,
@MANCC NCHAR(10),
@GHICHU NVARCHAR(MAX)

)
AS
BEGIN
	INSERT INTO PHIEUNHAPKHO
	VALUES (@MAPN, @MAKHO, @MANVNHAP, @NGAYNHAP, @MANCC, @GHICHU)
END




GO
/****** Object:  StoredProcedure [dbo].[THEM_PHIEUXUAT]    Script Date: 02-06-2019 12:04:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[THEM_PHIEUXUAT](
@MAPX NCHAR(10),
@MAKHO NCHAR(10),
@MANVXUAT NCHAR(10),
@NGAYXUAT DATETIME,
@MAKH NCHAR(10),
@GHICHU NVARCHAR(MAX)
)
AS
BEGIN
	INSERT INTO PHIEUXUAT
	VALUES (@MAPX, @MAKHO, @MANVXUAT, @NGAYXUAT, @MAKH, @GHICHU)
END




GO
/****** Object:  StoredProcedure [dbo].[THEM_SANPHAM]    Script Date: 02-06-2019 12:04:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[THEM_SANPHAM](
@MASP NCHAR(10),
@TENSP NVARCHAR(50),
@MANCC NCHAR(10),
@GIA FLOAT,
@MADANHMUC NCHAR(10),
@SERIAL NCHAR(20),
@HINHANH NVARCHAR(250),
@NGAYSANXUAT DATETIME,
@HANSUDUNG DATETIME,
@GHICHU NVARCHAR(MAX),
@SOLUONG INT,
@PHANLOAI NVARCHAR(50)
)
AS
BEGIN
	INSERT INTO SANPHAM
	VALUES (@MASP, @TENSP,@GIA,@SERIAL,@MANCC,@MADANHMUC,@NGAYSANXUAT,@HANSUDUNG,@SOLUONG,@PHANLOAI,@HINHANH,@GHICHU)
END




GO
/****** Object:  StoredProcedure [dbo].[THEM_TAIKHOAN]    Script Date: 02-06-2019 12:04:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[THEM_TAIKHOAN](
@USERNAME NCHAR(10),
@PASSWORD NCHAR(10),
@MANV NCHAR(10),
@QUYENHAN NCHAR(10)
)
AS
BEGIN
	INSERT INTO DANGNHAP
	VALUES (@USERNAME ,@PASSWORD, @MANV, @QUYENHAN )
END




GO
/****** Object:  StoredProcedure [dbo].[UPDATE_TAIKHOAN]    Script Date: 02-06-2019 12:04:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[UPDATE_TAIKHOAN](
@USERNAME NCHAR(10),
@PASSWORD NCHAR(10),
@MANV NCHAR(10),
@QUYENHAN NCHAR(10)
)
AS
BEGIN
	UPDATE DANGNHAP
	SET USERNAME = @USERNAME ,PASSWORD = @PASSWORD,MANV = @MANV,QUYENHAN = @QUYENHAN
	WHERE USERNAME = @USERNAME
END




GO
/****** Object:  StoredProcedure [dbo].[XOA_BOPHAN]    Script Date: 02-06-2019 12:04:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[XOA_BOPHAN](
@MABP nchar(10)
)
as
begin
	delete BOPHAN
	where MABP = @MABP
end




GO
/****** Object:  StoredProcedure [dbo].[XOA_CHITIETPHIEUNHAP]    Script Date: 02-06-2019 12:04:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROC [dbo].[XOA_CHITIETPHIEUNHAP]
(
@MAPN NCHAR(10)

) AS BEGIN
	DELETE FROM CHITIETPHIEUNHAP
	 WHERE MAPN=@MAPN
	 

   END

GO
/****** Object:  StoredProcedure [dbo].[XOA_DANHMUC]    Script Date: 02-06-2019 12:04:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[XOA_DANHMUC](
@MADANHMUC nchar(10)
)
as
begin
	UPDATE SANPHAM SET MADANHMUC=NULL WHERE MADANHMUC=@MADANHMUC
	delete from DANHMUC
	where MADANHMUC = @MADANHMUC
end



GO
/****** Object:  StoredProcedure [dbo].[XOA_KHACHHANG]    Script Date: 02-06-2019 12:04:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[XOA_KHACHHANG](
@MAKH nchar(10)
)
as
begin
	delete KHACHHANG
	where MAKH = @MAKH
end




GO
/****** Object:  StoredProcedure [dbo].[XOA_KHOHANG]    Script Date: 02-06-2019 12:04:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[XOA_KHOHANG](
@MAKHO nchar(10)
)
as
begin
	UPDATE DANHMUC SET MAKHO=NULL WHERE MAKHO=@MAKHO
	UPDATE PHIEUNHAPKHO SET MAKHO=NULL WHERE MAKHO=@MAKHO
	UPDATE PHIEUXUAT SET MAKHO=NULL WHERE MAKHO=@MAKHO
	UPDATE BOPHAN SET MAKHO=NULL WHERE MAKHO=@MAKHO
	
	delete from KHOHANG where MAKHO = @MAKHO
end




GO
/****** Object:  StoredProcedure [dbo].[XOA_NHACC]    Script Date: 02-06-2019 12:04:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[XOA_NHACC](
@MANCC nchar(10)
)
as
begin
	delete NHACUNGCAP
	where MANCC = @MANCC
end




GO
/****** Object:  StoredProcedure [dbo].[XOA_NHANVIEN]    Script Date: 02-06-2019 12:04:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[XOA_NHANVIEN](
@MANV NCHAR(10)
)
AS
BEGIN
	UPDATE  NHANVIEN
	SET TRANGTHAI = '0'
	WHERE MANV = @MANV
END




GO
/****** Object:  StoredProcedure [dbo].[XOA_PHIEUNHAP]    Script Date: 02-06-2019 12:04:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create PROC [dbo].[XOA_PHIEUNHAP]
(
@MAPN NCHAR(10)

) AS BEGIN
	DELETE FROM CHITIETPHIEUNHAP
	 WHERE MAPN=@MAPN
	 DELETE FROM PHIEUNHAPKHO WHERE MAPN=@MAPN

   END




GO
/****** Object:  StoredProcedure [dbo].[XOA_PHIEUXUAT]    Script Date: 02-06-2019 12:04:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

   Create PROC [dbo].[XOA_PHIEUXUAT]
(
@MAPX NCHAR(10)
) AS BEGIN
		DELETE FROM CHITIETPHIEUXUAT WHERE MAPX=@MAPX
		DELETE FROM PHIEUXUAT WHERE MAPX=@MAPX

	END




GO
/****** Object:  StoredProcedure [dbo].[XOA_SANPHAM]    Script Date: 02-06-2019 12:04:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[XOA_SANPHAM] (
	@MASP NCHAR(10)
)
 AS BEGIN
		UPDATE CHITIETPHIEUNHAP SET MASP=NULL WHERE MASP=@MASP
		UPDATE CHITIETPHIEUXUAT SET MASP=NULL WHERE MASP=@MASP
		DELETE FROM SANPHAM WHERE MASP=@MASP
		
 END




GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "NHANVIEN"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 157
               Right = 208
            End
            DisplayFlags = 280
            TopColumn = 3
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'VIEW_LUONG'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'VIEW_LUONG'
GO
USE [master]
GO
